name: Runner

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  scan:
    uses: THINKBITTH/thinkbit-devops-pipeline/.github/workflows/main.yml@main
    with:
      enable-build: false
